In [126]:
pip install nba_api

Requirement already satisfied: nba_api in c:\users\ninaw\appdata\local\programs\python\python311\lib\site-packages (1.10.2)
Requirement already satisfied: numpy>=1.26.0 in c:\users\ninaw\appdata\local\programs\python\python311\lib\site-packages (from nba_api) (1.26.4)
Requirement already satisfied: pandas>=2.1.0 in c:\users\ninaw\appdata\local\programs\python\python311\lib\site-packages (from nba_api) (2.2.1)
Requirement already satisfied: requests<3.0.0,>=2.32.3 in c:\users\ninaw\appdata\local\programs\python\python311\lib\site-packages (from nba_api) (2.32.5)
Requirement already satisfied: charset_normalizer<4,>=2 in c:\users\ninaw\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\ninaw\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\ninaw\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2.2.1)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\ninaw\appdata\local\programs\python\python311\lib\site-packages (from requests<3.0.0,>=2.32.3->nba_api) (2024.2.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\ninaw\appdata\roaming\python\python311\site-packages (from pandas>=2.1.0->nba_api) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\ninaw\appdata\local\programs\python\python311\lib\site-packages (from pandas>=2.1.0->nba_api) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\ninaw\appdata\local\programs\python\python311\lib\site-packages (from pandas>=2.1.0->nba_api) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\ninaw\appdata\roaming\python\python311\site-packages (from python-dateutil>=2.8.2->pandas>=2.1.0->nba_api) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ransformers (c:\Users\ninaw\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ransformers (c:\Users\ninaw\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ransformers (c:\Users\ninaw\AppData\Local\Programs\Python\Python311\Lib\site-packages)

In [127]:
pip install --upgrade pip

Requirement already satisfied: pip in c:\users\ninaw\appdata\local\programs\python\python311\lib\site-packages (25.3)
Note: you may need to restart the kernel to use updated packages.

WARNING: Ignoring invalid distribution ~ransformers (c:\Users\ninaw\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ransformers (c:\Users\ninaw\AppData\Local\Programs\Python\Python311\Lib\site-packages)
WARNING: Ignoring invalid distribution ~ransformers (c:\Users\ninaw\AppData\Local\Programs\Python\Python311\Lib\site-packages)

In [128]:
from nba_api.stats.static import teams

# Get all NBA teams
nba_teams = teams.get_teams()

# Convert to DataFrame for easier viewing
import pandas as pd
teams_df = pd.DataFrame(nba_teams)

# Display all teams
teams_df[['id', 'full_name', 'abbreviation', 'city', 'nickname']]

,id,full_name,abbreviation,city,nickname
0,1610612737,Atlanta Hawks,ATL,Atlanta,Hawks
1,1610612738,Boston Celtics,BOS,Boston,Celtics
2,1610612739,Cleveland Cavaliers,CLE,Cleveland,Cavaliers
3,1610612740,New Orleans Pelicans,NOP,New Orleans,Pelicans
4,1610612741,Chicago Bulls,CHI,Chicago,Bulls
5,1610612742,Dallas Mavericks,DAL,Dallas,Mavericks
6,1610612743,Denver Nuggets,DEN,Denver,Nuggets
7,1610612744,Golden State Warriors,GSW,Golden State,Warriors
8,1610612745,Houston Rockets,HOU,Houston,Rockets
9,1610612746,Los Angeles Clippers,LAC,Los Angeles,Clippers
10,1610612747,Los Angeles Lakers,LAL,Los Angeles,Lakers
11,1610612748,Miami Heat,MIA,Miami,Heat
12,1610612749,Milwaukee Bucks,MIL,Milwaukee,Bucks
13,1610612750,Minnesota Timberwolves,MIN,Minnesota,Timberwolves
14,1610612751,Brooklyn Nets,BKN,Brooklyn,Nets
15,1610612752,New York Knicks,NYK,New York,Knicks
16,1610612753,Orlando Magic,ORL,Orlando,Magic
17,1610612754,Indiana Pacers,IND,Indiana,Pacers
18,1610612755,Philadelphia 76ers,PHI,Philadelphia,76ers
19,1610612756,Phoenix Suns,PHX,Phoenix,Suns
20,1610612757,Portland Trail Blazers,POR,Portland,Trail Blazers
21,1610612758,Sacramento Kings,SAC,Sacramento,Kings
22,1610612759,San Antonio Spurs,SAS,San Antonio,Spurs
23,1610612760,Oklahoma City Thunder,OKC,Oklahoma City,Thunder
24,1610612761,Toronto Raptors,TOR,Toronto,Raptors
25,1610612762,Utah Jazz,UTA,Utah,Jazz
26,1610612763,Memphis Grizzlies,MEM,Memphis,Grizzlies
27,1610612764,Washington Wizards,WAS,Washington,Wizards
28,1610612765,Detroit Pistons,DET,Detroit,Pistons
29,1610612766,Charlotte Hornets,CHA,Charlotte,Hornets

In [129]:
from nba_api.stats.endpoints import playerdashptpass, commonteamroster
import pandas as pd
import time

# Step 1: Get all players on the Pistons roster for 2024-25 season
pistons_roster = commonteamroster.CommonTeamRoster(
    team_id=1610612760,  # Change team ID
    season='2024-25'
)

# Get the roster dataframe
roster_df = pistons_roster.common_team_roster.get_data_frame()

# Step 2: Loop through each player and get their passing data
all_passing_data = []

for index, player in roster_df.iterrows():
    player_id = player['PLAYER_ID']
    player_name = player['PLAYER']
    
    print(f"Getting passing data for {player_name} (ID: {player_id})...")
    
    try:
        # Get passing data for this player
        passing = playerdashptpass.PlayerDashPtPass(
            player_id=player_id,
            season='2024-25',
            team_id=1610612760  # Change team ID
        )
        
        # Get the passes made dataframe
        passes_made_df = passing.passes_made.get_data_frame()
        
        # Add passer name for reference
        passes_made_df['PASSER_NAME'] = player_name
        
        # Append to our collection
        all_passing_data.append(passes_made_df)
        
        # Be nice to the API - wait between requests
        time.sleep(0.6)  # 600ms delay to avoid rate limiting
        
    except Exception as e:
        print(f"Error getting data for {player_name}: {e}")
        continue

# Step 3: Combine all data into one dataframe
if all_passing_data:
    complete_passing_df = pd.concat(all_passing_data, ignore_index=True)
    print(f"\nTotal passing connections: {len(complete_passing_df)}")
    print(complete_passing_df.head(20))
else:
    print("No passing data collected")

Getting passing data for Shai Gilgeous-Alexander (ID: 1628983)...
Getting passing data for Dillon Jones (ID: 1641794)...
Getting passing data for Luguentz Dort (ID: 1629652)...
Getting passing data for Jaylin Williams (ID: 1631119)...
Getting passing data for Chet Holmgren (ID: 1631096)...
Getting passing data for Jalen Williams (ID: 1631114)...
Getting passing data for Alex Caruso (ID: 1627936)...
Getting passing data for Isaiah Joe (ID: 1630198)...
Getting passing data for Ousmane Dieng (ID: 1631172)...
Getting passing data for Adam Flagler (ID: 1641745)...
Getting passing data for Branden Carlson (ID: 1642382)...
Getting passing data for Aaron Wiggins (ID: 1630598)...
Getting passing data for Cason Wallace (ID: 1641717)...
Getting passing data for Ajay Mitchell (ID: 1642349)...
Getting passing data for Kenrich Williams (ID: 1629026)...
Getting passing data for Nikola Topić (ID: 1642260)...
Getting passing data for Isaiah Hartenstein (ID: 1628392)...
Getting passing data for Alex Ducas (ID: 1642505)...

Total passing connections: 257
   PLAYER_ID    PLAYER_NAME_LAST_FIRST              TEAM_NAME     TEAM_ID  \
0    1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
1    1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
2    1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
3    1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
4    1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
5    1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
6    1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
7    1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
8    1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
9    1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
10   1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
11   1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
12   1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
13   1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
14   1628983  Gilgeous-Alexander, Shai  Oklahoma City Thunder  1610612760
15   1641794             Jones, Dillon  Oklahoma City Thunder  1610612760
16   1641794             Jones, Dillon  Oklahoma City Thunder  1610612760
17   1641794             Jones, Dillon  Oklahoma City Thunder  1610612760
18   1641794             Jones, Dillon  Oklahoma City Thunder  1610612760
19   1641794             Jones, Dillon  Oklahoma City Thunder  1610612760

   TEAM_ABBREVIATION PASS_TYPE   G              PASS_TO  \
0                OKC      made  76     Carlson, Branden
1                OKC      made  76       Mitchell, Ajay
2                OKC      made  76        Jones, Dillon
3                OKC      made  76        Flagler, Adam
4                OKC      made  76       Wallace, Cason
5                OKC      made  76       Dieng, Ousmane
6                OKC      made  76     Williams, Jaylin
7                OKC      made  76      Williams, Jalen
8                OKC      made  76       Holmgren, Chet
9                OKC      made  76       Wiggins, Aaron
10               OKC      made  76          Joe, Isaiah
11               OKC      made  76       Dort, Luguentz
12               OKC      made  76    Williams, Kenrich
13               OKC      made  76  Hartenstein, Isaiah
14               OKC      made  76         Caruso, Alex
15               OKC      made  54          Ducas, Alex
16               OKC      made  54        Leons, Malevy
17               OKC      made  54     Carlson, Branden
18               OKC      made  54       Mitchell, Ajay
19               OKC      made  54        Flagler, Adam

   PASS_TEAMMATE_PLAYER_ID  FREQUENCY  ...  FGM  FGA FG_PCT FG2M  FG2A  \
0                  1642382      0.004  ...    5    9  0.556    1     1
1                  1642349      0.017  ...    9   17  0.529    4     8
2                  1641794      0.014  ...    5    9  0.556    2     4
3                  1641745      0.002  ...    1    5  0.200    0     0
4                  1641717      0.098  ...   45  107  0.421   27    54
5                  1631172      0.012  ...    7   17  0.412    5     8
6                  1631119      0.065  ...   29   70  0.414    8    15
7                  1631114      0.205  ...  100  224  0.446   65   132
8                  1631096      0.068  ...   39   89  0.438   22    54
9                  1630598      0.075  ...   58  118  0.492   30    56
10                 1630198      0.096  ...   50  138  0.362    7    17
11                 1629652      0.121  ...   76  175  0.434   17    42
12                 1629026      0.049  ...   35   63  0.556   16    20
13                 1628392      0.109  ...   59  109  0.541   59   107
14                 1627936      0.065  ...   29   73  0.397   14    29
15                 1642505      0.022  ...    3    7  0.429    0     2
16                 1642502      0.007  ...    0    1  0.000    0     0
17                 1642382      0.056  ...    7   16  0.438    2     5
18                 1642349      0.103  ...    7   10  0.700    7     9
19                 1641745      0.068  ...    7   16  0.438    4     6

   FG2_PCT FG3M  FG3A FG3_PCT              PASSER_NAME
0    1.000    4     8   0.500  Shai Gilgeous-Alexander
1    0.500    5     9   0.556  Shai Gilgeous-Alexander
2    0.500    3     5   0.600  Shai Gilgeous-Alexander
3    0.000    1     5   0.200  Shai Gilgeous-Alexander
4    0.500   18    53   0.340  Shai Gilgeous-Alexander
5    0.625    2     9   0.222  Shai Gilgeous-Alexander
6    0.533   21    55   0.382  Shai Gilgeous-Alexander
7    0.492   35    92   0.380  Shai Gilgeous-Alexander
8    0.407   17    35   0.486  Shai Gilgeous-Alexander
9    0.536   28    62   0.452  Shai Gilgeous-Alexander
10   0.412   43   121   0.355  Shai Gilgeous-Alexander
11   0.405   59   133   0.444  Shai Gilgeous-Alexander
12   0.800   19    43   0.442  Shai Gilgeous-Alexander
13   0.551    0     2   0.000  Shai Gilgeous-Alexander
14   0.483   15    44   0.341  Shai Gilgeous-Alexander
15   0.000    3     5   0.600             Dillon Jones
16   0.000    0     1   0.000             Dillon Jones
17   0.400    5    11   0.455             Dillon Jones
18   0.778    0     1   0.000             Dillon Jones
19   0.667    3    10   0.300             Dillon Jones

[20 rows x 22 columns]

C:\Users\ninaw\AppData\Local\Temp\ipykernel_16940\4104913439.py:49: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  complete_passing_df = pd.concat(all_passing_data, ignore_index=True)

In [130]:
complete_passing_df

,PLAYER_ID,PLAYER_NAME_LAST_FIRST,TEAM_NAME,TEAM_ID,TEAM_ABBREVIATION,PASS_TYPE,G,PASS_TO,PASS_TEAMMATE_PLAYER_ID,FREQUENCY,...,FGM,FGA,FG_PCT,FG2M,FG2A,FG2_PCT,FG3M,FG3A,FG3_PCT,PASSER_NAME
0,1628983,"Gilgeous-Alexander, Shai",Oklahoma City Thunder,1610612760,OKC,made,76,"Carlson, Branden",1642382,0.004,...,5,9,0.556,1,1,1.0,4,8,0.500,Shai Gilgeous-Alexander
1,1628983,"Gilgeous-Alexander, Shai",Oklahoma City Thunder,1610612760,OKC,made,76,"Mitchell, Ajay",1642349,0.017,...,9,17,0.529,4,8,0.5,5,9,0.556,Shai Gilgeous-Alexander
2,1628983,"Gilgeous-Alexander, Shai",Oklahoma City Thunder,1610612760,OKC,made,76,"Jones, Dillon",1641794,0.014,...,5,9,0.556,2,4,0.5,3,5,0.600,Shai Gilgeous-Alexander
3,1628983,"Gilgeous-Alexander, Shai",Oklahoma City Thunder,1610612760,OKC,made,76,"Flagler, Adam",1641745,0.002,...,1,5,0.200,0,0,0.0,1,5,0.200,Shai Gilgeous-Alexander
4,1628983,"Gilgeous-Alexander, Shai",Oklahoma City Thunder,1610612760,OKC,made,76,"Wallace, Cason",1641717,0.098,...,45,107,0.421,27,54,0.5,18,53,0.340,Shai Gilgeous-Alexander
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252,1642505,"Ducas, Alex",Oklahoma City Thunder,1610612760,OKC,made,18,"Williams, Jaylin",1631119,0.143,...,1,1,1.000,1,1,1.0,0,0,0.000,Alex Ducas
253,1642505,"Ducas, Alex",Oklahoma City Thunder,1610612760,OKC,made,18,"Wiggins, Aaron",1630598,0.071,...,0,3,0.000,0,1,0.0,0,2,0.000,Alex Ducas
254,1642505,"Ducas, Alex",Oklahoma City Thunder,1610612760,OKC,made,18,"Joe, Isaiah",1630198,0.014,...,0,0,0.000,0,0,0.0,0,0,0.000,Alex Ducas
255,1642505,"Ducas, Alex",Oklahoma City Thunder,1610612760,OKC,made,18,"Williams, Kenrich",1629026,0.086,...,0,2,0.000,0,1,0.0,0,1,0.000,Alex Ducas
256,1642505,"Ducas, Alex",Oklahoma City Thunder,1610612760,OKC,made,18,"Gilgeous-Alexander, Shai",1628983,0.014,...,0,1,0.000,0,1,0.0,0,0,0.000,Alex Ducas

In [131]:
# Filter and rename the DataFrame columns
filtered_df = complete_passing_df[['PLAYER_NAME_LAST_FIRST', 'PASS_TO', 'TEAM_ABBREVIATION', 'PASS', 'AST']]

# Function to reformat player name (Last, First -> First Last)
def reformat_name(name):
    if ',' in name:
        last, first = name.split(',')
        return f"{first.strip()} {last.strip()}"
    return name

# Reformat player names
filtered_df['PLAYER_NAME_LAST_FIRST'] = filtered_df['PLAYER_NAME_LAST_FIRST'].apply(reformat_name)
filtered_df['PASS_TO'] = filtered_df['PASS_TO'].apply(reformat_name)

# Rename columns to lowercase
filtered_df.columns = ['player_name', 'pass_to', 'team', 'pass', 'ast']

# Display the filtered DataFrame with new column names and reformatted names
print("Filtered passing data with reformatted names:")
filtered_df

Filtered passing data with reformatted names:

C:\Users\ninaw\AppData\Local\Temp\ipykernel_16940\1569033653.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['PLAYER_NAME_LAST_FIRST'] = filtered_df['PLAYER_NAME_LAST_FIRST'].apply(reformat_name)
C:\Users\ninaw\AppData\Local\Temp\ipykernel_16940\1569033653.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  filtered_df['PASS_TO'] = filtered_df['PASS_TO'].apply(reformat_name)

                 player_name                  pass_to team pass ast
0    Shai Gilgeous-Alexander          Branden Carlson  OKC   13   5
1    Shai Gilgeous-Alexander            Ajay Mitchell  OKC   55   9
2    Shai Gilgeous-Alexander             Dillon Jones  OKC   45   5
3    Shai Gilgeous-Alexander             Adam Flagler  OKC    7   1
4    Shai Gilgeous-Alexander            Cason Wallace  OKC  308  37
..                       ...                      ...  ...  ...  ..
252               Alex Ducas          Jaylin Williams  OKC   10   1
253               Alex Ducas            Aaron Wiggins  OKC    5   0
254               Alex Ducas               Isaiah Joe  OKC    1   0
255               Alex Ducas         Kenrich Williams  OKC    6   0
256               Alex Ducas  Shai Gilgeous-Alexander  OKC    1   0

[257 rows x 5 columns]

In [132]:
# save into the folder passing_data 
filtered_df.to_csv('passing_data/Thunder_improve/Thunder_passing_data_2024_25.csv', index=False)